$couleur_titre: #d04f4f;
$couleur_background_search: #e7e7e7;
$couleur_background_ingredient: #3282f7;
$couleur_background_appliance: #68d9a4;
$couleur_background_utensil: #ed6454;
$couleur_background_header_card: #c7bebe;
$couleur_police_blanche: #ffffff;
