.main_search_filter {
  width: 100%;
  height: 4.3rem;
  border-radius: 5px;
  background-color: $couleur_background_search;
  border: none;
  font-family: 'Lato';
  font-size: 1.125rem;
  font-weight: 400;
  padding-left: 1.375rem;
}
