.filters {
  margin-bottom: 1rem;
}

.filter_container {
  display: flex;
}

h2 {
  position: absolute;
  left: 12%;
  color: $couleur_police_blanche;
  font-size: 1.125rem;
  font-family: 'Lato';
}

.filter_secondary {
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 5px;
  margin-right: 2rem;

  min-width: 10.625rem;
  height: 4.3125rem;
  & input {
    border: none;
    border-radius: 5px;
    font-size: 1.125rem;
    padding-left: 1rem;
    color: white;
    &::placeholder,
    &:focus {
      color: white;
      outline: none;
    }
  }
}

.filter_ingredients {
  background-color: $couleur_background_ingredient;

  & input {
    background-color: $couleur_background_ingredient;
  }
}

.filter_appliance {
  background-color: $couleur_background_appliance;

  & input {
    background-color: $couleur_background_appliance;
  }
}
.filter_utensil {
  background-color: $couleur_background_utensil;

  & input {
    background-color: $couleur_background_utensil;
  }
}

.filter_arrow {
  position: absolute;
  right: 8%;
}

.rotate_arrow {
  transform: rotate(180deg);
}

.lists {
  position: absolute;
  top: 65px;
  color: $couleur_police_blanche;
  font-size: 1.125rem;
  font-weight: 400;
  width: 100%;
  border-radius: 0 0 5px 5px;
  padding: 0 0 1rem 1rem;
  column-width: 170px;
  & li {
    padding-bottom: 1rem;
  }
}
.filter_ingredients_list {
  background-color: $couleur_background_ingredient;
}

.filter_appliance_list {
  background-color: $couleur_background_appliance;
}

.filter_utensil_list {
  background-color: $couleur_background_utensil;
}
@media (max-width: 669px) {
  .filter_container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .filter_secondary {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 935px) {
  .lists {
    z-index: 1;
  }
}
