.filters {
  margin-bottom: 1rem;
}

.filter_container {
  display: flex;
  border: none;
}

h2 {
  position: absolute;
  color: white;
  font-size: 1.125rem;
  font-family: 'Lato';
}

.filter_secondary {
  border-radius: 5px;
  margin-right: 2rem;
  position: relative;
  min-width: 10.625rem;
  height: 4.3125rem;
  & input {
    border: none;
    border-radius: 5px;
    font-size: 1.125rem;
    color: white;
    display: none;
  }
}

.filter_ingredients {
  background-color: $couleur_background_ingredient;

  & input {
    background-color: $couleur_background_ingredient;
  }
}

.filter_set {
  background-color: $couleur_background_set;

  & input {
    background-color: $couleur_background_set;
  }
}
.filter_utensil {
  background-color: $couleur_background_utensil;

  & input {
    background-color: $couleur_background_utensil;
  }
}
