.tags_selection {
  display: flex;

  & .tags {
    display: flex;
    margin: 0 1rem 1rem 0;
    align-items: center;
    height: 2rem;
    color: $couleur_police_blanche;
    border-radius: 5px;
    padding: 0 1rem;
    font-size: 0.875rem;
    font-weight: 700;
  }
  & .fa-times-circle {
    font-weight: 400;
    margin-left: 0.7rem;
    color: $couleur_police_blanche;
  }

  & .tags_ingredients {
    background-color: $couleur_background_ingredient;
  }

  & .tags_appliance {
    background-color: $couleur_background_appliance;
  }

  & .tags_ustensil {
    background-color: $couleur_background_utensil;
  }
  & .btn_close {
    background-color: transparent;
    border: none;
    align-self: center;
  }
}
@media (max-width: 550px) {
  .tags_selection {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
